/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/collection/nbproject/private/
/JavaApplication10/nbproject/private/
/collection/build/
/collections/nbproject/private/
/collections/build/
/selfPractice/nbproject/private/
/selfPractice/build/
/Assignment/nbproject/private/
/Assignment/build/
/Assignment_EDIT/build/
/Assignment_EDIT/nbproject/private/
/Database/nbproject/private/
/Database/build/
/JavaApplication16/nbproject/private/
/JavaApplication17/nbproject/private/
/JavaApplication18/nbproject/private/
/Databases/nbproject/private/
/Databases/build/
/LibraryManagementSystem/nbproject/private/
/BookManagementSystem/nbproject/private/
/BookManagementSystem/build/
/JavaApplication22/nbproject/private/
